<% if !issue.project.enabled_module(:subtasks).nil? %>
 <% if issue && issue.tracker_id && !issue.id %>
  <% parent = Tracker.where(:id => issue.tracker_id).first %>
  <% project = Project.find(issue.project_id) %>
  <% allowed_tracker_ids = project.trackers.map{|tracker| tracker.id} %>
  <% subtasks = Subtask.where(:project_id => issue.project_id, :parent => issue.tracker_id, :child => allowed_tracker_ids) %>

  <% while project.parent_id.present? do %>
    <% subtasks += Subtask.where(:project_id =>  project.parent_id, :parent => issue.tracker_id, :child => allowed_tracker_ids, :inheritance => true) %>
    <% project = Project.find(project.parent_id) %>
  <% end %>

  <% if subtasks.first %>
  <%= hidden_field_tag 'issue[new_subtask_ids][]', '' %>
  <p id="subtasks_form">
    <label>Create subtasks</label>
    <span id="subtasks_inputs">
    <% subtasks.each do |subtask| %>
      <% child = Tracker.where(:id => subtask.child).first %>
      <label id="issue_new_subtask_ids_<%= subtask.id %>" class="floating">
      <% if subtask.auto %>
        <%= check_box_tag "issue[new_subtask_ids][]", subtask.id, true, :readonly => true, :disabled => true, "onclick" => "return false;" %>
        <%= child.name %> (required)
      <% else %>
        <%= check_box_tag "issue[new_subtask_ids][]", subtask.id, subtask.default %>
        <%= child.name %>
      <% end %>
      </label>
    <% end %>
    </span>
  </p>
  <% end %>
 <% else %>
  <% parent = Tracker.where(:id => issue.tracker_id).first %>
  <% project = Project.find(issue.project_id) %>
  <% allowed_tracker_ids = project.trackers.map{|tracker| tracker.id} %>
  <% subtasks = Subtask.where(:project_id => issue.project_id, :parent => issue.tracker_id, :child => allowed_tracker_ids) %>

  <% while project.parent_id.present? do %>
    <% subtasks += Subtask.where(:project_id =>  project.parent_id, :parent => issue.tracker_id, :child => allowed_tracker_ids, :inheritance => true) %>
    <% project = Project.find(project.parent_id) %>
  <% end %>

  <% existing = issue.children.map {|child| child.tracker.id } %>
  <% if subtasks.first %>
  <%= hidden_field_tag 'issue[new_subtask_ids][]', '' %>
  <p id="subtasks_form">
    <label>Create new subtasks</label>
    <span id="subtasks_inputs">
    <% subtasks.each do |subtask| %>
      <% child = Tracker.where(:id => subtask.child).first %>
      <% existing_children = existing.count(subtask.child) %>
      <label id="issue_new_subtask_ids_<%= subtask.id %>" class="floating">
      <% existing_children_of_tracker = "(" %>
      <% if subtask.auto %>
        <% existing_children_of_tracker += "required, " %>
      <% end %>

      <% if existing_children == 0 %>
        <% existing_children_of_tracker += "none exist yet)" %>
      <% else %>
        <% existing_children_of_tracker += existing_children.to_s %>
        <% existing_children_of_tracker += " exist" %>
        <% if existing_children == 1 %>
          <% existing_children_of_tracker += "s" %>
        <% end %>
        <% existing_children_of_tracker += " already)" %>
      <% end %>

      <% if existing_children == 0 %>
        <%= check_box_tag "issue[new_subtask_ids][]", subtask.id, subtask.default %>
      <% else %>
        <%= check_box_tag "issue[new_subtask_ids][]", subtask.id, false %>
      <% end %>
      <%= child.name %> <%= existing_children_of_tracker %>
      </label>
    <% end %>
    </span>
  </p>
  <% end %>
 <% end %>
<% end %>

